.container {
    display: flex;
}
.apple {
   position: relative; 
}
.text {
    position: absolute;
    top: 250px;
    display: flex;
    flex-direction: column;
    left: 200px;
    text-align: center;
    justify-content: center;
}
.orange {
    position: relative;
}
.text1 {
    position: absolute;
    top: 250px;
    display: flex;
    flex-direction: column;
    left: 200px;
    text-align: center;
}
h6{
    font-size: 36px;
}
