.container {
    display: flex;
}
.apple {
   position: relative; 
}
.text {
    position: absolute;
    top: 500px;
    display: flex;
    flex-direction: column;
    left: 50px;
    text-align: center;
}
.text1 {
    position: absolute;
    top: 500px;
    display: flex;
    flex-direction: column;
    left: 50px;
    text-align: center;
}
